
{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main_inner %}
    <div class="container-main">
        <div class="cms-sections">
            <div class="cms-section pos-0 cms-section-default">
                <div class="cms-section-default boxed">
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                        type: 'danger',
                        content: "dvsn-demoshop-foundation.home.demoshop-alert"|trans
                    } %}

                    <br />
                    <h1>Imprint</h1>
                    <br />

                    <p>Eike Brandt-Warneke<br />
                        Hevener Stra&szlig;e 65<br />
                        44797 Bochum</p>

                    <h4>Contact</h4>
                    <p>Telephone: +49 (0) 234 97354482<br />
                        E-Mail: <script type="text/javascript">var str = 'vision';str = 'digit' + str + '.de';str = 'info' + '@' + str;document.write(str);</script></p>

                    <h4>Sales tax ID</h4>
                    <p>Sales tax identification number according to ยง 27 a sales tax law:<br />
                        DE327303257</p>

                    <h4>Information on professional liability insurance</h4>
                    <p><strong>Name and registered office of the insurer:</strong><br />
                        Allianz Deutschland AG<br />
                        K&ouml;niginstra&szlig;e 28<br />
                        80802 M&uuml;nchen</p>
                    <p><strong>Area of validity of the insurance:</strong><br />Germany</p>

                    <h4>Consumer dispute resolution/universal arbitration board</h4>
                    <p>We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.</p>

                    <p>Source: <a href="https://www.e-recht24.de">eRecht24</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
